{
  "ecmaFeatures": {
    "modules": true,
    "spread" : true,
    "restParams" : true
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-undef":0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member":0,
    "no-useless-constructor":0,
    "class-methods-use-this":0,
    "no-console": "warn",
    "import/no-cycle": 0,
    "arrow-body-style": ["warn", "always"],
    "max-len": ["warn", { "code": 120 }],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", {
      "props": false
    }]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "ignorePatterns": ["*config.js"]
}