*.*~

.vscode
.vs
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build results
dist